.input {
  margin: 2rem auto;
  pad: 1rem;
  width: 90%;
  max-width: 40rem;
}

.input label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
  padding-left: 0.5rem;
}

.input input {
  font: inherit;
  display: block;
  width: 99%;
  border: 1px solid #ccc;
  pad: 0.15rem;
  margin-bottom: 0.5rem;
}

.input input:focus {
  outline: none;
  border-color: #4f005f;
}

.input button {
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  border-radius: 1px solid;
}
